extends ./partials/base

block text
 form(class="form-contacto")
  input(type="text", name="txtName",id="txtName", class="txtName", placeholder="Ingrese Nombre")
  input(type="email", name="txtEmail",id="txtEmail", class="txtEmail", placeholder="Ingrese Email")
  textarea(placeholder="Escriba Asunto", rows="20", cols="50")
  input(type="button", name="btnEnviar",id="btnEnviar", class="btnEnviar", value="Enviar")

