extends ./partials/base

block text
 #content.
  Nodezi es un bog que comparte temas del frotend tales como desarrollo web, manejor de procesadores,
  como automatizar tus tareas con gulp,grunt y muchas cosas.
  Pero no te preocupes tambien tenemos cosas del lado del Backend Lenguajes como Ruby, Java u otros lebnguajes que te haran apasionarte pr esta tecnologias.
  Adelante y no pierdas esta oportunidad de darte un a vuelta por este blog.
  !Bienvenido!
