<!DOCTYPE html>
<html>
  <head>
    <title>Layout Base</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Start</a></li>
          <li> <a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      Hola amigos Mi nombre es Jorge william Reaño Reyes un joven amante de las tecnologias tanto
      del lado del frontend como del backend.
      El se autodidacta es una de las cosas mas dificiles de hacer, aprender cosas nuevas  desde cero sin
      que nadie te de un alcance o explicacion de la misma el algo dificil de hacerlo creemelo.
      Espero Les guste mi Blog, Amigos.
    </div>
    <script src="../../js/bundle.js"></script>
  </body>
</html>