<!DOCTYPE html>
<html>
  <head>
    <title>Layout Base</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Start</a></li>
          <li> <a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <form class="form-contacto">
      <input type="text" name="txtName" id="txtName" placeholder="Ingrese Nombre" class="txtName">
      <input type="email" name="txtEmail" id="txtEmail" placeholder="Ingrese Email" class="txtEmail">
      <textarea placeholder="Escriba Asunto" rows="20" cols="50"></textarea>
      <input type="button" name="btnEnviar" id="btnEnviar" value="Enviar" class="btnEnviar">
    </form>
    <script src="../../js/bundle.js"></script>
  </body>
</html>